<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"
    />
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="copyright" content="Copyright (c) cmcm.com" />
    <title>猎豹智趣营销</title>
    <meta name="keywords" content="猎豹智趣营销 猎豹品牌广告 猎豹效果广告  猎豹广告平台" />
    <meta name="description" content="猎豹智趣营销，基于全球近6亿月活用户，涵盖移动及PC双端业务，凭借大数据及人工智能等先进技术，为广告主提供更加精准、智能、个性化的服务。" />
    <link rel="stylesheet" href="http://www.cmcm.com/css/asd/cn/index.min.css" type="text/css" />
    <link rel="Shortcut Icon" href="http://www.cmcm.com/images/favicon.ico">
    <script src="http://www.cmcm.com/js/jquery-1.9.1.min.js"></script>
    <script src="http://www.cmcm.com/js/asd/cn/idangerous.swiper.min.js"></script>
    <script src="http://www.cmcm.com/js/asd/cn/analytics.js"></script>
    <script>
        window.GoogleAnalyticsObject = 'ga';
        ga('create', 'UA-40488675-23', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="news-body">
    <div class="wrapper">
        <div class="page">
            <section class="first-screen">
                <div class="top-bar">
                    <div class="container clearfix has-trans">
                        <a href="/cn/" class="the-logo"></a>
                        <a href="javascript:;" class="the-burger for-mobile-only">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                        <ul class="navs has-trans"></ul>
                    </div>
                </div>
                <div class="news-banner">
                    <h1>智趣新闻</h1>
                </div>
                <!-- banner -->
            </section>
            <!-- first screen -->
            <section class="all-news" id="A_DatasOf_news">
                <div class="container clearfix">
                    <div class="news-box">
                        <ul class="">

                            <% for(var i=0; i<news.length; i++){ 
                                var n = news[i]
                                var time = new Date(n.display_time).format('yyyy-MM-dd')
                                %>

                            <li class="one-news has-trans">
                                <a href="./details/news1.html">
                                    <img class="news-cover" src="<%= n.image %>" alt="">
                                    <h3 class="news-tit"><b>【<%=n.tag%>】</b><%=n.title%></h3>
                                    <h6 class="news-desc"><%= n.desc %></h6>
                                    <p class="news-date"><%= time %></p>

                                </a>
                            </li>    
                            
                            <% } %>

                            <li class="one-news has-trans">
                                <a href="./details/news1.html">
                                    <img class="news-cover" src="http://www.cmcm.com/images/asd/cn/images/news/news-1-cover.png" alt="">
                                    <h3 class="news-tit"><b>【专访】</b>【智趣荣耀】首秀告捷，猎豹移动三奖临门闪耀金投赏</h3>
                                    <h6 class="news-desc">10月19日晚19:30，第十届金投赏国际创意节颁奖典礼如期举行。近千人的会场座无虚席，来自国内外创意及营销界的同行共同见证了创意行业最受瞩目的盛会。猎豹移动受邀出席并荣获三项提名奖：《让爱吉时回家-猎豹&王老吉橙色大巴暖心之旅》，《原生广告定制，让投放走“新”更有“心”》，《与世界连接——中国国际航空海外推广案例》...</h6>
                                    <p class="news-date">2017-10-19</p>

                                </a>
                            </li>
                            <li class="one-news has-trans">
                                <a href="./details/news2.html">
                                    <img class="news-cover" src="http://www.cmcm.com/images/asd/cn/images/news/news-2-cover.png" alt="">
                                    <h3 class="news-tit">
                                        <b>【活动】</b>【媒体看“智趣”】猎豹移动遇上真“AI”</h3>
                                    <h6 class="news-desc">在同质化现象严重的国内互联网市场，猎豹移动开辟了一条不同寻常的路。工具、出海、硅谷范……与众不同的猎豹移动被贴上多维度的标签，这家耳熟能详的纳斯达克上市劲旅看似老牌公司，其实成立才七年。在金投赏的演讲台上，猎豹移动CEO傅盛说自己也没想到会有今天的成绩...</h6>
                                    <p class="news-date">2017-10-17</p>

                                </a>
                            </li>
                            <li class="one-news has-trans">
                                <a href="./details/news3.html">
                                    <img class="news-cover" src="http://www.cmcm.com/images/asd/cn/images/news/news-3-cover.png" alt="">
                                    <h3 class="news-tit"> <b>【活动】</b>猎豹移动“智趣营销”亮相金投赏，开创AI营销新境界</h3>
                                    <h6 class="news-desc">10月16-19日，备受瞩目的全球第一个商业创意奖项，亚洲规模最大的创意节之一，被誉为“中国商业创意领域的达沃斯峰会”的第十届金投赏国际创意节在上海举办，来自全球近5000位创意行业的精英参与了盛会。作为中国移动互联网领军企业，猎豹移动以“智能营销，应趣而生”为主题，向到场的嘉宾献上了一场内容丰富的关于人工智能的营销思想盛宴。猎豹移动CEO傅盛，紫牛基金创始管理合伙人、猎豹移动高级顾问张泉灵，猎豹移动高级副总裁周品，猎豹移动市场部总经理@猎豹全球智库执行院长权静，金佰利中国市场副总裁谢乐，美团点评集团高级副总裁张川出席了专场，精彩观点引爆全场...</h6>
                                    <p class="news-date">2017-10-17</p>

                                </a>
                            </li>
                            <li class="one-news has-trans">
                                <a href="./details/news4.html">
                                    <img class="news-cover" src="http://www.cmcm.com/images/asd/cn/images/news/news-4-cover.png" alt="">
                                    <h3 class="news-tit">
                                        <b>【获奖】</b>​【猎豹专场演讲实录】猎豹移动CEO傅盛：后互联网时代来临，猎豹用 AI 构建大脑</h3>
                                    <h6 class="news-desc">10月16日，第十届金投赏国际创意节在上海举办，猎豹移动展开了以『智能营销，应趣而生』为主题的专场。猎豹移动 CEO 傅盛作为嘉宾出席并发表主题演讲—— AI 点亮营销，阐述在后互联网时代，猎豹如何用 AI 构建大脑，助力商业品牌升级...</h6>
                                    <p class="news-date">2017-10-17</p>

                                </a>
                            </li>
                            <li class="one-news has-trans">
                                <a href="./details/news5.html">
                                    <img class="news-cover" src="http://www.cmcm.com/images/asd/cn/images/news/news-5-cover.png" alt="">
                                    <h3 class="news-tit">
                                        <b>【活动】</b>【猎豹专场深度观点】亮出“智趣”这张牌，猎豹这家公司将如何玩转AI营销？</h3>
                                    <h6 class="news-desc">近两年来，技术对于广告营销业的影响成为了整个行业的热点话题，无论是在法国的戛纳，美国的纽约广告周，还是最近几天在上海举办的第十届金投赏国际创意节，人工智能成为了无论是互联网公司还是传播公司都在谈的内容。整个广告营销业在短短的十几年时间里，迅速的由PC营销时代、移动营销时代切换到了智能营销时代。更值得关注的是，决定广告营销朝智能化发展的已经不再是广告公司，而是掌握着大量用户流量和入口的移动互联网公司...</h6>
                                    <p class="news-date">2017-10-17</p>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="paginator" style="display:block;">
                        <a class="prev disabled">&lt;</a>
                        <a class="current">1</a>
                        <a>2</a>
                        <a>3</a>
                        <a>4</a>
                        <a class="next">&gt;</a>
                    </div>

            </section>
        </div>

        <div class="footer"></div>
        <!-- footer -->
    </div>
    <!-- wrapper -->
    <div class="pop-mask has-trans"></div>
    <script src="http://www.cmcm.com/js/asd/cn/index.min.js"></script>
</body>

</html>