<!DOCTYPE html>
<html lang="zh-CN">
<%include ./partial/head%>
    <link href="/css/dashboard.css" rel="stylesheet">
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="#">ADS 管理后台</a>
                </div>
                <!-- <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">新闻管理</a></li>
            <li><a href="#">其他</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div> -->
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <%include partial/silderNav%>
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                        <h1 class="page-header">新闻详细</h1>
                        <div class="row">
                            <div class="col-12">
                                <form>
                                    <input type="hidden" id="newsId" value="<%= news.id %>" />
                                    <input type="hidden" id="lang" value="<%= lang %>" />
                                    <div class="form-group">
                                        <label for="txtTitle">标题</label>
                                        <input type="text" class="form-control" id="txtTitle" placeholder="" value="<%= news.title %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtDesc">简述</label>
                                        <input type="text" class="form-control" id="txtDesc" placeholder="50字" value="<%= news.desc %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtAuthor">作者</label>
                                        <input type="text" class="form-control" id="txtAuthor" placeholder="" value="<%= news.author %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtTag">标签</label>
                                        <input type="text" class="form-control" id="txtTag" placeholder="BLOG | REPORT | 专访 | 活动" value="<%= news.tag %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtDisplayTime">显示发布时间</label>
                                        <input type="text" class="form-control" id="txtDisplayTime" placeholder="2017-11-11" value="<% var time = news.display_time ? new Date(news.display_time).format('yyyy-MM-dd'):new Date().format('yyyy-MM-dd')  %><%= time %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="fileImage">头图</label>
                                        
                                        <input type="file" id="fileImage">
                                        <input type="text" id="txtImageLink">
                                        <p class="help-block">尺寸：340*190</p>
                                        <img id="imgPreview" class="preview-img" src="<%= news.image %>" style="width:340px;">
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                        <input id="chkIsDisplay" type="checkbox" <% if(news.is_display) { %> checked="checked" <%}%>> 显示在列表中
                                    </label>
                                    </div>

                                    <div class="form-group">
                                        <input type="hidden" value="<%= news.type %>" id="newsType">
                                        <div class="radio" style="display:inline-block">
                                            <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            站内新闻
                                        </label>
                                        </div>
                                        <div class="radio" style="display:inline-block;margin-left:20px">
                                            <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                            外部链接
                                        </label>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="txtLink">链接</label>
                                        <input type="text" class="form-control" id="txtLink" placeholder="http://www.cmcm.com" value="<%= news.link %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtLink">内容</label>
                                        <div id="txtContent"></div>
                                        <div id="txtContentValue" style="display:none"><%- news.content %></div>
                                    </div>

                                    <button id="btnSubmit" type="submit" class="btn btn-default">保存</button>
                                </form>

                            </div>
                        </div>

                    </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="/js/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/js/ie10-viewport-bug-workaround.js"></script>

        <script src="https://unpkg.com/wangeditor@3.0.12/release/wangEditor.min.js"></script>

        <!-- 加载编辑器的容器 -->
        <!-- <script id="container" name="content" type="text/plain">这里写你的初始化内容</script> -->
        <!-- 配置文件 -->
        <!-- <script type="text/javascript" src="/ueditor/ueditor.config.js"></script> -->
        <!-- 编辑器源码文件 -->
        <!-- <script type="text/javascript" src="/ueditor/ueditor.all.js"></script> -->
        <!-- 实例化编辑器 -->
        <script type="text/javascript">
            $(function() {


                initEditor()

                initSelectType()

                initUploadImage()

                initSaveButton()

                initImageLinkInput()
            })

            function initImageLinkInput() {
                $("#txtImageLink").blur(function(e){
                    var url = $(e.target).val()
                    if(url){
                        $("#imgPreview").attr("src", url)
                    }
                })
            }

            function initSaveButton() {
                $("#btnSubmit").click(function(e) {
                    e.preventDefault()

                    $.ajax({
                        url: '/admin/news',
                        type: 'put',
                        data: getFormData(),
                        success: function(res) {
                            if (res.code == 0) {
                                alert('保存成功')
                                window.location.href = '/admin/news?lang=<%=lang%>'
                            } else {
                                alert(res.msg)
                            }
                        }
                    })
                })
            }

            function initEditor() {
                var E = window.wangEditor
                var editor = new E('#txtContent')
                window.editor = editor
                editor.customConfig.uploadImgServer = '/upload/editor'
                editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024
                editor.customConfig.uploadImgMaxLength = 5
                editor.customConfig.uploadFileName = 'wang_editor'
                editor.customConfig.uploadImgTimeout = 30 * 000

                editor.create()

                // init
                editor.txt.html($("#txtContentValue").html())
                // editor.txt.html()

            }

            function initUploadImage() {
                $("#fileImage").change(function(e) {

                    var input = e.target
                    if (input.files.length == 0) return;

                    upload({
                        uploadUrl: '/upload/editor',
                        callback: function(res) {
                            res = JSON.parse(res)
                            var url = res.data[0]
                            $("#imgPreview").attr("src", url)
                        }
                    }, input)
                })
            }

            function initSelectType() {

                if($("#newsType").val() == "LINK"){
                    $("#txtContent").parent().hide()
                }else{// 站内
                    $("#txtLink").parent().hide()
                }

                
                $("input[name=optionsRadios]").click(function() {
                    if ($("input[name=optionsRadios]").eq(1).prop("checked")) {
                        $("#txtContent").parent().hide()
                        $("#txtLink").parent().show()
                    } else {
                        $("#txtContent").parent().show()
                        $("#txtLink").parent().hide()
                    }

                })
            }

            function getFormData() {

                var data = {
                    title: $("#txtTitle").val(),
                    desc: $("#txtDesc").val(),
                    author: $("#txtAuthor").val(),
                    tag: $("#txtTag").val(),
                    image: $("#imgPreview").attr("src"),
                    display_time: $("#txtDisplayTime").val(),
                    type: $("input[name=optionsRadios]").eq(1).prop("checked") ? 'LINK' : 'PAGE',
                    link: $("#txtLink").val(),
                    content: editor.txt.html(),
                    is_display: $("#chkIsDisplay").prop("checked") ? 1 : 0,
                    lang: $("#lang").val()
                }

                var id = $("#newsId").val()
                if(id) data.id = id

                return data
            }


            function upload(option, input) {

                var file,
                    fd = new FormData(),
                    xhr = new XMLHttpRequest(),
                    loaded, tot, per, uploadUrl;

                uploadUrl = option.uploadUrl;
                callback = option.callback;
                uploading = option.uploading;
                beforeSend = option.beforeSend;

                file = input.files[0];
                if (beforeSend instanceof Function) {
                    if (beforeSend(file) === false) {
                        return false;
                    }
                }

                // fd.append("files", file);
                fd.append("wang_editor", file);
                // fd.append("_S", $.cookie('_S'))
                // var _S = $.cookie('_S');

                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        if (callback instanceof Function) {
                            callback(xhr.responseText);
                        }
                    }
                };

                //侦查当前附件上传情况
                xhr.upload.onprogress = function(evt) {
                    loaded = evt.loaded;
                    tot = evt.total;
                    per = Math.floor(100 * loaded / tot); //已经上传的百分比
                    if (uploading instanceof Function) {
                        uploading(per);
                    }
                };

                xhr.open("post", uploadUrl);
                // xhr.setRequestHeader("_S", _S);
                xhr.send(fd);
            }
        </script>
    </body>

</html>